In [18]:
# Sort by letters

def sort_by_letters(words):
  by_letters = {}
  # for word in words:
  #   letter = word[0]
  #   if letter not in by_letters:
  #     by_letters[letter] = [word]
  #   else:
  #     by_letters[letter].append(word)

  # OR
  for word in words:
    letter = word[0]
    by_letters.setdefault(letter, []).append(word)

  # OR
  from collections import defaultdict
  by_letters_dd = defaultdict(list)
  for word in words:
    by_letters_dd[word[0]].append(word)
    
  return by_letters

test_words = ["apple", "bat", "bar", "atom", "color", "book"]
sort_by_letters(test_words)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book'], 'c': ['color']}

In [21]:
a_set = set([1, 5, 6, 1, 6, 9, 7, 8, 6, 7, 9, 0])
a_set

{0, 1, 5, 6, 7, 8, 9}

In [22]:
b_set = {1, 2, 5, 6, 2, 3, 1, 5, 3, 2}
b_set

{1, 2, 3, 5, 6}

In [25]:
# Union of two sets
a_set | b_set
# OR
a_set.union(b_set)

{0, 1, 2, 3, 5, 6, 7, 8, 9}

In [27]:
# Intersection of two sets
a_set & b_set
# OR
a_set.intersection(b_set)

{1, 5, 6}

In [28]:
a_set.add(8)

In [29]:
# Difference
a_set.difference(b_set) # Elements in a_set not in b_set
# OR
a_set - b_set

{0, 7, 8, 9}

In [32]:
# Symmetric difference
a_set.symmetric_difference(b_set) # All elements in either a_set and b_set, but not in both  
#OR
a_set ^ b_set

{0, 2, 3, 7, 8, 9}

In [34]:
c_set = {1, 9, 0}
c_set.issubset(a_set)
a_set.issuperset(c_set)

True

In [35]:
d_set = {"a", "b"}
a_set.isdisjoint(d_set) # The two sets have no elements in common

True

In [36]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [43]:
list(zip("abc", range(3)))

[('a', 0), ('b', 1), ('c', 2)]

In [48]:
seq_1 = ["foo", "bar", "baz"]
seq_2 = ["one", "two", "three"]

list(zip(seq_1, seq_2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [47]:
for i, (a, b) in enumerate(zip(seq_1, seq_2)):
  print(f"{i}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [50]:
# Revered
reversed_list = list(reversed(range(5)))
reversed_list

[4, 3, 2, 1, 0]